@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* Sheared style */

body {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 30px;
    border: none;
}

.btn-primary:hover {
    background-color: antiquewhite;
    color: black;
}

.sheared-title {
    font-size: 40px;
    font-weight: bold;
}

.sheared-p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    padding-top: 20px;
}


/* Navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-weight: bold;
}

.sing-in {
    padding: 10px 15px;
    border: 1px solid #006A50;
    border-radius: 10px;
    background-color: white;
    font-weight: semi-bold;
    color: #006A50;
}

.sing-in:hover {
    background-color: #006A50;
    color: white;
}

/* Banner style */
.banner {
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    padding: 80px 100px;
    margin: 40px 0;
}

.banner-content {
    padding-top: 60px;
}

.banner-heading {
    font-size: 24px;
    font-weight: lighter;
    color: rgba(14, 14, 14, 0.5);
}

.banner-getting {
    font-size: 56px;
    font-weight: bold;
    padding: 20px 0;
}

/* The Vision of Future Container */
.future-container-card {
    margin: 80px 0;
}

.future-cards {
    display: flex;
    gap: 24px;
    padding: 32px 0;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.card-p {
    font-size: 16px;
    font-weight: 400;
}

.future-card1 {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    padding: 32px;
}

.future-card2 {
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 32px;
}

.future-card3 {
    background-color: #F7EBCF;
    border-radius: 10px;
    padding: 32px;
}

.btn-card1,
.btn-card2,
.btn-card3 {
    background-color: #5490F5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px 30px;
    border: none;
    margin-top: 20px;
}

.btn-card1:hover,
.btn-card2:hover,
.btn-card3:hover {
    background-color: white;
    color: black;
}

/* Quote Section */
.quote {
    background-image: url('./assets/quote-bg.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 24px 24px 48px 12px;
}

.quote-p {
    font-size: 16px;
    font-weight: 400;
}

.quote-h {
    padding-top: 10px;
}

/* News */
.news {
    padding: 40px 0;
    margin: 40px 0;
}

.news-card1 {
    display: flex;
    justify-items: auto;
    gap: 32px;
    background-color: aliceblue;
    border-radius: 24px;
    padding: 48px;
    margin-top: 40px;
}

.card-img {
    border-radius: 24px;
}

.news-title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
}

.news-h,
.news-p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    padding: 20px 0;
}

.news-card2 {
    display: flex;
    justify-items: auto;
    gap: 32px;
    background-color: aliceblue;
    border-radius: 24px;
    padding: 48px;
    margin-top: 40px;
}

/* Donate Section */
.donate-card {
    text-align: center;
}

.donate-title,
.newsL-title {
    font-size: 40px;
    font-weight: bold;
}

.donate-p,
.newsL-p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    padding: 20px 0;
}

.donate-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.donate-card1,
.donate-card3,
.donate-card4 {
    padding: 20px;
    border-radius: 8px;
    background-color: aliceblue;
}

.donate-card2 {
    padding: 20px;
    border-radius: 8px;
    background-color: #C6E4D6;
}

.donate-card2:hover {
    background-color: aliceblue;
}

.donate-card1:hover,
.donate-card3:hover,
.donate-card4:hover {
    background-color: #C6E4D6;
}

.donate-tk {
    font-size: 40px;
    font-weight: bold;
}

.donate-input {
    margin: 20px 0;
    padding: 10px 100px;
    background-color: aliceblue;
    border: none;
    max-width: 1032px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

/* Newsletter Section */
.newsletter {
    margin: 80px 0;
    border-radius: 8px;
    background-color: #C6E4D6;
    max-height: 395px;
    text-align: center;
    padding: 80px 100px;
}

.news-subs {
    gap: 0;
}

.email-box {
    margin: 20px -4px 20px 0;
    padding: 12px 100px;
    background-color: aliceblue;
    border: none;
    max-width: 1032px;
    width: 50%;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
}

.btn-primary-footer {
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
}

.btn-primary-footer:hover{
    background-color: antiquewhite;
    color: black;
}

/* Footer section */
.footer-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.centered-hr {
    width: 75%; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
  }

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 80px;
    padding-top: 20px;
}